.icon-shijian{
    font-size: 20px;
}
.icon-github{
    font-size: 28px;
}
.icon-ledui{
    font-size: 25px;
}
.icon-zhuanji1{
    font-size: 20px;
}
.icon-gequ{
    font-size: 25px;
}
.icon-huatong{
    font-size: 25px;
}
.icon-wodeguanzhu{
    font-size: 23px;
}
.icon-jurassic_love1, .icon-jurassic_love{
    font-size: 17px;
    color: red;
}